*{
	padding:0px;
	margin:0px;
}
html{
	background-color:#CFDBC5;
	margin:0px;
	padding:0px;
	position:relative;
}
#intro{
	background: url(../images/background.jpg) no-repeat top center fixed;
	width:100%;
	margin: 15px;
	opacity:.9

}
#intro h1{
	color:white;
	padding: 150px 300px;
	font-size: 45px;
}
#about{
	margin:25px auto;
	width: 70%;
	padding:15px;
	background-color:#96C8A2;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	position:relative;
	overflow:auto;
}
#moneymaker{
	margin:20px;
	height:300px;
	width:180px;
	float:right;
}
#header{
	background-color:#003300;
	width:100%;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
	font-family: 'Lato', sans-serif;
	position:relative;
}
#header a{
    color:white;
	text-decoration: none;
	padding:5px;
	text-align: center;
}

	
#header a:hover{
	color:#ffffe4;
	border-bottom:1px solid white;
}
#header a:visited{
	color: white;
}
#social{
	/*float:right;*/
	position:absolute;
	right:10px;
	display:inline-block;
	padding-right:10px;
	vertical-align: center;
	padding-left:5px;
	top:25px;
}
#social .fa{
	color:white;
	font-size: 1.1em;
	padding:0px 5px;

}
#links{
	margin:0px auto;
}
	#links li{
		list-style: none;
		margin:0px auto;
		display:inline-block;
		position:relative;
			}
	#links li a{
		display:block;
		text-decoration: none;

			}
		#links li ul{
			display:none;
			text-align:left;
			z-index: 100;
		}
		#links li:hover ul{
			display:block;
			position:absolute;
			left:0px;
			margin:0px;
			padding:0px;
			background-color:#003300;
			border-collapse: collapse;
		}
		#links li:hover ul li{
			display:block;
			text-align:left;
			border-bottom:1px solid white;
		}
		/*#links li:hover li{
			float:none;
		}*/

#post, #project_intro{
	margin:25px auto;
	width: 75%;
	padding:15px;
	background-color:#96C8A2;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	overflow:auto;
}
#project_intro{
	width:50%;
}
#project_intro img{
	float:right;
	padding-left:20px;
}
li{
	list-style-type: none;
}
li a{
    color:white;
	text-decoration: none;
}

	
li a:hover{
	color:#ffffe4;
}
li a:visited{
	color: white;
}


#footer{
	position:relative;
	background-color:#003300;
	bottom:0px;
	margin:auto;
	margin-top: 15px;
	text-align:center;
	color:white;
	width: 100%;
	font-family: 'Lato', sans-serif;
	padding-top:10px;
	padding-bottom:15px;
	margin-top:15px;
}

@media all and (max-width: 700px){
    #links{
    	float:left;
    	padding-left:5px;
    }
    #header{
    	overflow:auto;
    }
    #intro h1{
		width:100%;
		font-size:25px;
		padding:25px;
	}
	#project_intro{
		width:80%;
		text-align:left;
	}
	#project_intro h1{
		font-size:25px;
		padding:25px;
	}
	#project_intro img{
		float:none;
		margin:0px auto;
		padding:0px;
	}
	#about{
		text-align:center;
	}
	
}
