html{
	background-color:#CFDBC5;
	margin:0px;
	padding:0px;
}
#table{
	background-color:#003300;
	width:100%;
	text-align:center;
	padding-top:5px;
	padding-bottom:15px;
	font-family: 'Lato', sans-serif;
}
#table a:link{
	color:white;
	text-decoration: none;
	padding:5px;
}


#intro{
	background-image: url('https://raw.githubusercontent.com/tombrightbill/phase-0-unit-1/master/week-1/imgs/intro_background.jpg?token=7698525__eyJzY29wZSI6IlJhd0Jsb2I6dG9tYnJpZ2h0YmlsbC9waGFzZS0wLXVuaXQtMS9tYXN0ZXIvd2Vlay0xL2ltZ3MvaW50cm9fYmFja2dyb3VuZC5qcGciLCJleHBpcmVzIjoxNDA4MzMzNTUzfQ%3D%3D--4995482e3e9e5a877daa74550259c728589ab6ad');
	width:768px;
	margin:15px auto 0px auto;

}
#intro h1{
	color:white;
	padding: 200px 200px;
	font-size: 45px;
	margin:0px;
}
#post{
	margin:25px auto;
	width: 70%;
	padding:15px;
	background-color:#96C8A2;
	font-family: 'Lato', sans-serif;
	font-weight:400;
}
#footer{
	position:relative;
	background-color:#003300;
	bottom:0px;
	margin:auto;
	margin-top: 15px;
	text-align:center;
	color:white;
	width: 100%;
	font-family: 'Lato', sans-serif;
	padding-top:10px;
}
.title{

}