html{
	background-color:#CFDBC5;
	margin:0px;
	padding:0px;
	position:relative;
}
#intro{
	background-image: url('https://raw.githubusercontent.com/tombrightbill/phase-0-unit-1/master/week-1/imgs/intro_background.jpg?token=7698525__eyJzY29wZSI6IlJhd0Jsb2I6dG9tYnJpZ2h0YmlsbC9waGFzZS0wLXVuaXQtMS9tYXN0ZXIvd2Vlay0xL2ltZ3MvaW50cm9fYmFja2dyb3VuZC5qcGciLCJleHBpcmVzIjoxNDA4MzMzNTUzfQ%3D%3D--4995482e3e9e5a877daa74550259c728589ab6ad');
	width:768px;
	margin: 15px auto;

}
#intro h1{
	color:white;
	padding: 50px 100px;
	font-size: 45px;
}
#about{
	margin:25px auto;
	width: 70%;
	padding:15px;
	background-color:#96C8A2;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	position:relative;
	overflow:auto;
}
#moneymaker{
	margin:20px;
	height:300px;
	width:180px;
	float:right;
}
#header{
	background-color:#003300;
	width:100%;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
	font-family: 'Lato', sans-serif;
	position:relative;
}
#header a{
    color:white;
	text-decoration: none;
	padding:5px;
	text-align: center;
}

	
#header a:hover{
	color:#ffffe4;
	font-size:.90em;
}
#header a:visited{
	color: white;
}
#social{
	/*float:right;*/
	position:absolute;
	right:10px;
	display:inline-block;
	padding-right:10px;
	vertical-align: center;
	border-left: 2px solid white;
}
#social a{

}
#links{
	display:inline-block;
}
#links a{

}


#footer{
	position:relative;
	background-color:#003300;
	bottom:0px;
	margin:auto;
	margin-top: 15px;
	text-align:center;
	color:white;
	width: 100%;
	font-family: 'Lato', sans-serif;
	padding-top:10px;
	padding-bottom:15px;
	margin-top:15px;
}

@media all and (max-width: 700px){
	#intro{
		width:100%;
		text-align:center;
	}
	#intro h1{
		width:100%;
		font-size:25px;
		padding:25px;
	}
	#about{
		text-align:center;
	}
	#moneymaker{
		float:none;
		margin:0px auto;
	
	}
}
